html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  /* overflow: hidden; */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
a {
  text-decoration: none;
}
header {
  width: 100%;
  height: 10rem;
  /* background-color: rgb(146, 127, 127); */
  display: flex;
  align-items: center;
  position: relative;
}
#menu {
  position: absolute;
  right: 5%;
  cursor: pointer;
  display: flex;
  align-items: center;
  /* background-color: #121212; */
  padding: 0 2rem;
  height: 3rem;
  color: #121212;
  font-size: 1.8rem;
  display: none;
}
#icon {
  font-size: 3.6rem;
}
nav {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.nav-links {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  /* background-color: yellow; */
}
.nav-links li {
  margin-right: 2rem;
  text-transform: uppercase;
  cursor: pointer;
}
.nav-links li a {
  font-weight: 500;
  color: rgb(145, 149, 155);
}
.nav-links li .active {
  font-weight: 900;
  color: rgb(12, 3, 14);
}

.sign-up-btn {
  /* height: 50%; */
  align-self: center;
  padding: 1.5rem 4rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  border: none;
  background-color: rgb(44, 103, 195);
  color: white;
  border-radius: 2.4rem;
  cursor: pointer;
}
main {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(245, 245, 245);
  padding: 4rem 0;
}
.main .container {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.main .container .intro {
  width: 100%;
  margin: 0 auto;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro h1 {
  font-size: 3.6rem;
  letter-spacing: 0.1rem;
  font-weight: 900;
  text-align: center;
}
.intro p {
  font-size: 1.8rem;
  text-align: center;
}
.container .flex-container {
  width: 100%;
  margin: 0 auto;
  min-height: 60%;
  display: flex;
  justify-content: space-evenly;
  padding: 4rem 0;
}
.flex-container .flex-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* justify-self: center; */
}
.flex-container .flex-item img {
  max-width: 60%;
}
.flex-item p {
  font-size: 1.8rem;
  font-weight: 700;
}

.flex-item .cta {
  padding: 1rem 4rem;
  background-color: rgb(44, 118, 215);
  color: white;
  font-size: 1.8rem;
  border: none;
  border-radius: 0.5rem;
  width: 20rem;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
  }
  .flex-container .flex-item {
    align-items: center;
  }
  .flex-container .flex-item:nth-child(2) {
    margin: 2rem 0;
  }
  header {
    height: 4rem;
  }
  .nav {
    position: fixed;
    left: -1000px;
    top: 0;
    height: 50vh;
    transition: all 0.3s;
  }
  /* menu toggler */
  #menu {
    display: block;
    border-radius: 0.5rem;
  }
  .mobile-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */
    left: 0;
    top: 0;
    min-height: 60vh;
    width: 100vw;
    background-color: rgb(245, 245, 245);
    padding: 4rem 0;
    box-shadow: 1px 1px 4px 0 #121212;
    /* z-index: ; */
  }
  .mobile-menu ul {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 4rem;
  }
  .mobile-menu ul li:nth-child(1) {
    margin-top: 4rem;
  }
  .mobile-menu ul li:nth-child(even) {
    margin: 4rem 0;
  }
  .mobile-menu .sign-up-btn {
    align-self: flex-start;
    margin-left: 4rem;
  }
}
